<div></div>
<div class="modal-header">
	<ul class="nav nav-tabs">
		<li><button class="btn"
				ng-class="newStoryCtrl.showExistingStories ? 'btn-default' : 'btn-primary'"
				ng-click="newStoryCtrl.showExistingStories = false"><span translate>newstory</span></button></li>
		<li ng-if="newStoryCtrl.existingStoriesAvailable"><button
				class="btn"
				ng-class="newStoryCtrl.showExistingStories ? 'btn-primary' : 'btn-default'"
				ng-click="newStoryCtrl.showExistingStories = true"><span translate>newstory</span></button></li>
	</ul>
</div>
<div class="modal-body" id="modal-body">
	<form novalidate ng-submit="newStoryCtrl.save()" class="simple-form"
		ng-if="!newStoryCtrl.showExistingStories">
		<div class="form-group">
			<label for="story" translate>name</label> <input type="text"
				class="form-control" id="story" ng-model="newStoryCtrl.story.name"
				focus-me="true" required>
		</div>
		<div class="form-group">
			<label for="complexity" translate>complexity</label> <select id="complexity"
				class="form-control" ng-model="newStoryCtrl.story.complexity"
				ng-options="complexity for complexity in newStoryCtrl.storyComplexities">
			</select>
		</div>
		<div class="form-group">
			<label for="bv" translate>businessvalue</label> <input type="number"
				class="form-control" id="bv" min="0"
				ng-model="newStoryCtrl.story.businessValue">
		</div>

		<div class="form-group">
			<label for="type" translate>type</label> <select id="type" class="form-control"
				ng-model="newStoryCtrl.story.type"
				ng-options="type for type in newStoryCtrl.storyTypes">
			</select>
		</div>

		<div class="form-group">
			<label for="sprintEnd" translate>adddate</label>
			<p class="input-group">
				<input type="text" id="sprintEnd" class="form-control"
					uib-datepicker-popup="dd/MM/yyyy"
					ng-model="newStoryCtrl.story.addDate" is-open="openedAdd"
					datepicker-options="newStoryCtrl.dateOptions" ng-required="true"
					close-text="Close" /> <span class="input-group-btn"><button
						type="button" class="btn btn-default"
						ng-click="openedAdd = !openedAdd">
						<i class="glyphicon glyphicon-calendar"></i>
					</button></span>
			</p>
		</div>
		<div class="form-group">
			<label for="sprintEnd" translate>close</label>
			<p class="input-group">
				<input type="text" id="sprintEnd" class="form-control"
					uib-datepicker-popup="dd/MM/yyyy"
					ng-model="newStoryCtrl.story.closeDate" is-open="openedClose"
					datepicker-options="newStoryCtrl.dateOptions" ng-required="false"
					close-text="Close" /> <span class="input-group-btn"><button
						type="button" class="btn btn-default"
						ng-click="openedClose = !openedClose">
						<i class="glyphicon glyphicon-calendar"></i>
					</button></span>
			</p>
		</div>
	</form>
	<form novalidate ng-submit="newStoryCtrl.save()" class="simple-form"
		ng-if="newStoryCtrl.showExistingStories">
		<div class="form-group">
			<label for="story" translate>name</label>
			<div class="form-group">
				<select id="story" class="form-control input"
					ng-model="newStoryCtrl.story"
					ng-options="story.name for story in newStoryCtrl.stories">
				</select>
			</div>
		</div>

	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary "
		ng-click="newStoryCtrl.save()">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</button>
	<button class="btn btn-default " ng-click="newStoryCtrl.cancel()">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</button>

</div>