<div class="container">
	<div>
		<div class="form-group">
			<label>Number </label> 
			<p>{{storyCtrl.story.id}}</p>
		</div>
		<div class="form-group">
			<label>Complexity</label>
			 <p>{{storyCtrl.story.complexity}} </p>

		</div>
		<div class="form-group">
			<label >Add date</label>
			<p> {{storyCtrl.story.addDate 	| date : 'dd/MM/yyyy'}}</p>
		</div>
		<div class="form-group">
			<label>Close date</label>
			<p>{{storyCtrl.story.closeDate 	| date : 'dd/MM/yyyy'}}</p>

		</div>
	</div>
</div>
