<div class="container">
	<form novalidate class="simple-form">
		<button type="button" class="btn btn-primary"
			ng-click="storiesCtrl.newStory()">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			<span translate>story</span>
		</button>
		<table class="table table-hover">
			<thead>
				<tr>
					<th translate>name</th>
					<th translate>complexity</th>
					<th translate>businessvalue</th>
					<th translate>type</th>
					<th translate>adddate</th>
					<th translate>close</th>
					<th translate>actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="story in storiesCtrl.stories">

					<td ng-If="story.id != storiesCtrl.editStoryId">{{story.name
						}}</td>
					<td ng-If="story.id != storiesCtrl.editStoryId">{{story.complexity
						}}</td>
					<td ng-If="story.id != storiesCtrl.editStoryId">{{story.businessValue
						}}</td>
					<td ng-If="story.id != storiesCtrl.editStoryId">{{story.type
						}}</td>
					<td ng-If="story.id != storiesCtrl.editStoryId">{{story.addDate
						| date : 'dd/MM/yyyy' }}</td>
					<td ng-If="story.id != storiesCtrl.editStoryId">{{story.closeDate
						| date : 'dd/MM/yyyy'}}</td>
					<td ng-If="story.id != storiesCtrl.editStoryId">
						<button class="btn btn-info "
							ng-click="storiesCtrl.editStoryId = story.id">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
						<button class="btn btn-danger "
							ng-click="storiesCtrl.remove(story)">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						<button class="btn btn-primary "
							ng-click="storiesCtrl.showStory(story)">
							<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
						</button>
					</td>

					<td ng-If="story.id == storiesCtrl.editStoryId"><input
						type="text" class="form-control" ng-model="story.name"></td>

					<td ng-If="story.id == storiesCtrl.editStoryId"><select
						id="complexity" class="form-control" ng-model="story.complexity"
						ng-options="complexity for complexity in storiesCtrl.storyComplexities">
					</select></td>

					<td ng-If="story.id == storiesCtrl.editStoryId"><input
						type="number" class="form-control" id="bv" min="0"
						ng-model="story.businessValue"></td>
					<td ng-If="story.id == storiesCtrl.editStoryId"><select
						id="type" class="form-control" ng-model="story.type"
						ng-options="type for type in storiesCtrl.storyTypes">
					</select></td>
					<td ng-If="story.id == storiesCtrl.editStoryId">
						<p class="input-group">
							<input type="text" id="sprintStart" class="form-control"
								uib-datepicker-popup="dd/MM/yyyy" ng-model="story.addDate"
								is-open="openedAdd" datepicker-options="storiesCtrl.dateOptions"
								ng-required="true" close-text="Close" /> <span
								class="input-group-btn"><button type="button"
									class="btn btn-default" ng-click="openedAdd = !openedAdd">
									<i class="glyphicon glyphicon-calendar"></i>
								</button></span>
						</p> </span>
					</td>
					<td ng-If="story.id == storiesCtrl.editStoryId">
						<p class="input-group">
							<input type="text" id="sprintEnd" class="form-control"
								uib-datepicker-popup="dd/MM/yyyy" ng-model="story.closeDate"
								is-open="openedClose"
								datepicker-options="storiesCtrl.dateOptions" ng-required="true"
								close-text="Close" /> <span class="input-group-btn"><button
									type="button" class="btn btn-default"
									ng-click="openedClose = !openedClose">
									<i class="glyphicon glyphicon-calendar"></i>
								</button></span>
						</p> </span>
					</td>
					<td ng-If="story.id == storiesCtrl.editStoryId">
						<button class="btn btn-primary "
							ng-click="storiesCtrl.update(story)">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						</button>
						<button class="btn btn-default "
							ng-click="storiesCtrl.cancelUpdate()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>

					</td>

				</tr>

			</tbody>
		</table>

	</form>

	<div class="search">
		<form class="form-horizontal">
			<div class="form-group">
				<span class="col-sm-1">&nbsp;</span>
				<label class="col-sm-8 text-capitalize" translate>storycreated</label>
			</div>
			<div class="form-group">
				<label class="col-sm-1 text-right text-capitalize" translate>from</label>
				<div class="col-sm-3">
					<input type="text" id="addDateStart" class="form-control"
						   uib-datepicker-popup="dd/MM/yyyy" ng-model="storiesCtrl.example.addDateStart"
						   is-open="addDateStartDPOpened" datepicker-options="storiesCtrl.dateOptions"
						   ng-required="true" close-text="addDateStart" ng-click="addDateStartDPOpened = !addDateStartDPOpened"/>
				</div>
				<label class="col-sm-1 text-right text-capitalize" translate>to</label>
				<div class="col-sm-3">
					<input type="text" id="addDateEnd" class="form-control"
						   uib-datepicker-popup="dd/MM/yyyy" ng-model="storiesCtrl.example.addDateEnd"
						   is-open="addDateEndDPOpened" datepicker-options="storiesCtrl.dateOptions"
						   ng-required="true" close-text="addDateEnd" ng-click="addDateEndDPOpened = !addDateEndDPOpened"/>
				</div>
			</div>

			<div class="form-group">
				<span class="col-sm-1">&nbsp;</span>
				<label class="col-sm-8 text-capitalize" translate>storyclosed</label>
			</div>
			<div class="form-group">
				<label class="col-sm-1 text-right text-capitalize" translate>from</label>
				<div class="col-sm-3">
					<input type="text" id="closeDateStart" class="form-control"
						   uib-datepicker-popup="dd/MM/yyyy" ng-model="storiesCtrl.example.closeDateStart"
						   is-open="closeDateStartDPOpened" datepicker-options="storiesCtrl.dateOptions"
						   ng-required="true" close-text="closeDateStart" ng-click="closeDateStartDPOpened = !closeDateStartDPOpened"/>
				</div>
				<label class="col-sm-1 text-right text-capitalize" translate>to</label>
				<div class="col-sm-3">
					<input type="text" id="closeDateEnd" class="form-control"
						   uib-datepicker-popup="dd/MM/yyyy" ng-model="storiesCtrl.example.closeDateEnd"
						   is-open="closeDateEndDPOpened" datepicker-options="storiesCtrl.dateOptions"
						   ng-required="true" close-text="closeDateEnd" ng-click="closeDateEndDPOpened = !closeDateEndDPOpened"/>
				</div>
			</div>
			<button type="button" class="btn btn-primary" ng-click="storiesCtrl.searchStories()">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				<span class="text-capitalize" translate>search</span>
			</button>
			<button type="button" class="btn btn-primary"
					ng-click="storiesCtrl.resetSearchStories()">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				<span class="text-capitalize" translate>reset</span>
			</button>
		</form>
	</div>
</div>