<div class="container" *ngIf="!isFullScreen">
  <div class="form-group">
    <label translate>yourname</label> <input type="text" class="form-control" maxlength="50" [(ngModel)]="memberName" (ngModelChange)="onMemberNameChange()">
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-4  alert" *ngFor="let state of plushs" [ngClass]="{'alert-info': !state.owner, 'alert-success': (state.owner != null && state.owner.id === memberId), 'alert-danger':(state.owner != null && state.owner.id != memberId)}"
      role="alert">
      <h1>{{state.plush.name}}</h1>
      <div *ngIf="isValid">
        <button *ngIf="!state.owner" class="btn btn-primary btn-lg " (click)="take(state.plush)" translate>take</button>
        <button *ngIf="(state.owner != null && state.owner.id === memberId) ||  memberId === 'admin'" class="btn btn-default  btn-lg"
          (click)="release(state.plush)" translate>release</button>
      </div>
      <div *ngIf="state.owner">
        <h3>
          <span translate>ownedby</span> {{state.owner.name}}
        </h3>
      </div>
      <br>
      <div>
        <img class="img-responsive" [src]="state.plush.img">
      </div>
    </div>
  </div>
</div>
