html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body,
app-root {
  display: flex;
  min-height: 100%;
  height: 100%;
  flex-direction: column;
}

section {
  flex: 1;
  position: relative;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  tr {
    display: flex;
  }
}
