<div></div>
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">New story</h3>
</div>
<div class="modal-body" id="modal-body">
	<form novalidate ng-submit="storyCtrl.save()" class="simple-form">
		<div class="form-group">
			<label for="story">Story Number</label> <input type="text"
				class="form-control" id="story" ng-model="storyCtrl.story.id"
				required>
		</div>

	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary " ng-click="storyCtrl.save()">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</button>
	<button class="btn btn-default " ng-click="storyCtrl.cancel()">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</button>

</div>