<div></div>
<div class="modal-header">
	<h3 class="modal-title" id="modal-title" translate>newsprint</h3>
</div>
<div class="modal-body" id="modal-body">
	<form novalidate ng-submit="newSprintCtrl.save()" class="simple-form">
		<div class="form-group">
			<label for="sprint" translate>Name</label> <input type="text"
				class="form-control" id="sprint" ng-model="newSprintCtrl.sprint.name"  focus-me="true" 
				required>
		</div>
		<div class="form-group">
			<label for="sprintEnd" translate>start</label>
			<p class="input-group">
				<input type="text" id="sprintEnd" class="form-control"
					uib-datepicker-popup="dd/MM/yyyy"
					ng-model="newSprintCtrl.sprint.start" is-open="openedStart"
					datepicker-options="newSprintCtrl.dateOptions" ng-required="true"
					close-text="Close" /> <span class="input-group-btn"><button
						type="button" class="btn btn-default"
						ng-click="openedStart = !openedStart"><i class="glyphicon glyphicon-calendar"></i></button></span>
			</p>
		</div>
		<div class="form-group">
			<label for="sprintEnd" translate>end</label>
			<p class="input-group">
				<input type="text" id="sprintEnd" class="form-control"
					uib-datepicker-popup="dd/MM/yyyy"
					ng-model="newSprintCtrl.sprint.end" is-open="openedEnd"
					datepicker-options="newSprintCtrl.dateOptions" ng-required="false"
					close-text="Close" /> <span class="input-group-btn"><button
						type="button" class="btn btn-default"
						ng-click="openedEnd = !openedEnd"><i class="glyphicon glyphicon-calendar"></i></button></span>
			</p>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary "
		ng-click="newSprintCtrl.save()">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</button>
	<button class="btn btn-default " ng-click="newSprintCtrl.cancel()">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</button>

</div>