html {
    height : 100%;
    margin : 0;
    padding: 0;
}
menu {
    height : 100%;
    margin : 0;
    padding: 0;
}
body {
    display       : flex;
    min-height    : 100%;
    height        : 100%;
    flex-direction: column;
}
section {
    flex    : 1;
    position: relative;
}

highchart{
    position: absolute;
    left    : 0;
    right   : 0;
    top     : 0;
    bottom  : 0;
}
.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.tl-container {
    position    : absolute;
    top         : 0;
    left        : 0;
    right       : 50%;
    bottom      : 50%;
    background  : black;
    border      : solid #000;
    border-width: 0 10px 10px 0;
}
.tr-container {
    position    : absolute;
    top         : 0;
    left        : 50%;
    right       : 0;
    bottom      : 50%;
    background  : black;
    border      : solid #000;
    border-width: 0 0 10px 0;
}
.bl-container {
    position    : absolute;
    top         : 50%;
    left        : 0;
    right       : 50%;
    bottom      : 0;
    background  : black;
    border      : solid #000;
    border-width: 0 10px 0 0;
}
.br-container {
    position    : absolute;
    top         : 50%;
    left        : 50%;
    right       : 0;
    bottom      : 0;
    background  : black;
}

input {
    opacity     : 0.7;
    background  : black;
    color       : white;
    size        : 100;
}