<div class="container-fluid">
  <h1>Stories</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm-2" translate>name</th>
        <th class="col-sm-2" translate>complexity</th>
        <th class="col-sm-2" translate>bv</th>
        <th class="col-sm-2" translate>type</th>
        <th class="col-sm-2" translate>close</th>
        <th class="col-sm-2" translate>actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let story of stories" >
        <td class="col-sm-2">
          <textfield-cell [id]="story.id" [selectedId]="selectedId" [(text)]="story.name"></textfield-cell>
        </td>
        <td class="col-sm-2">
          <combobox-cell [id]="story.id" [selectedId]="selectedId" [(text)]="story.complexity" [values]="complexities"></combobox-cell>
        </td>
        <td class="col-sm-2">
          <textfield-cell [id]="story.id" [selectedId]="selectedId" [(text)]="story.businessValue"></textfield-cell>
        </td>
        <td class="col-sm-2">
          <combobox-cell [id]="story.id" [selectedId]="selectedId" [(text)]="story.type" [values]="types"></combobox-cell>
        </td>
        <td class="col-sm-2">
          <datepicker-cell [id]="story.id" [selectedId]="selectedId" [(date)]="story.closeDate"></datepicker-cell>
        </td>
        <td class="col-sm-2">
          <action-cell [id]="story.id" [(selectedId)]="selectedId" [value]="story" (onSave)="save($event)" (onCancel)="cancel($event)" (onSelectMore)="selectMore($event)" ></action-cell>
        </td>
      </tr>
    </tbody>
  </table>
</div>
