<div class="container-fluid">
  <h1>Releases
    <button type="button" class="btn btn-primary" (click)="add()">
			<i class="fa fa-plus" aria-hidden="true"></i>
		</button>
  </h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm-2" translate>name</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let release of releases">
        <td class="col-sm-2">
            <textfield-cell [id]="release.id" [selectedId]="selectedId" [(text)]="release.name"></textfield-cell>
        </td>
    </tr>
    </tbody>
  </table>
</div>
