
<div  ng-if="notificationCtrl.alert">
	<div class="alert alert-danger" role="alert"
		ng-if="notificationCtrl.alert.isError">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only" translate>error</span> {{notificationCtrl.alert.msg}}
	</div>
	<div class="alert alert-success" role="alert"
		ng-if="!notificationCtrl.alert.isError">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only" translate>success</span> {{notificationCtrl.alert.msg}}
	</div>
</div>