<div class="container">
	<div class="form-group">
		<label translate>yourname</label> <input type="text"
			class="form-control" maxlength="50" ng-model="plushCtrl.memberName"
			ng-change="plushCtrl.onMemberNameChange()">
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-4  alert"
			ng-repeat="state in plushCtrl.plushs"
			ng-class="{'alert-info': !state.owner, 'alert-success': (state.owner != null && state.owner.id === plushCtrl.memberId), 'alert-danger':(state.owner != null && state.owner.id != plushCtrl.memberId)}"
			role="alert">
			<h1>{{state.plush.name}}</h1>
			<button ng-if="!state.owner" class="btn btn-primary btn-lg "
				ng-click="plushCtrl.take(state.plush)" translate>take</button>
			<button
				ng-if="(state.owner != null && state.owner.id === plushCtrl.memberId) ||  plushCtrl.memberId === 'admin'"
				class="btn btn-default  btn-lg"
				ng-click="plushCtrl.release(state.plush)" translate>release</button>
			<div ng-if="state.owner">
				<h3>
					<span translate>ownedby</span> {{state.owner.name}}
				</h3>
			</div>
			<img class="img-responsive" ng-src="{{state.plush.img}}">
		</div>
	</div>
</div>