<div class="container">
	<div>
		<div class="form-group">
			<label>ID </label>
			<p>{{memberCtrl.member.id}}</p>
		</div>
		<div class="form-group">
			<label>First name</label>
			<p>{{memberCtrl.member.firstName}}</p>
		</div>
		<div class="form-group">
			<label>Last name</label>
			<p>{{memberCtrl.member.lastName}}</p>
		</div>
		<div class="form-group">
			<label>Email</label>
			<p>{{memberCtrl.member.email}}</p>
		</div>
		<div class="form-group">
			<label>Use gravatar</label>
			<p>{{memberCtrl.member.useGravatar}}</p>
		</div>
	</div>
</div>
<div class="container">
	<h2>Absences</h2>
	<form novalidate class="simple-form">
		<button type="button" class="btn btn-primary"
			ng-click="memberCtrl.newAbsence()">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Absence
		</button>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Start</th>
					<th>Start at noon</th>
					<th>End</th>
					<th>End at noon</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="absence in memberCtrl.absences">
					<td ng-If="absence.id != memberCtrl.editAbsenceId">{{absence.start
						| date : 'dd/MM/yyyy'}}</td>
					<td ng-If="absence.id != memberCtrl.editAbsenceId">{{absence.startAfternoon}}</td>
					<td ng-If="absence.id != memberCtrl.editAbsenceId">{{absence.end
						| date : 'dd/MM/yyyy'}}</td>
					<td ng-If="absence.id != memberCtrl.editAbsenceId">{{absence.endAfternoon}}</td>
					<td ng-If="absence.id != memberCtrl.editAbsenceId">
						<button class="btn btn-info "
							ng-click="memberCtrl.editAbsence(absence)">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
						<button class="btn btn-danger "
							ng-click="memberCtrl.removeAbsence(absence)">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</td>


					<td ng-If="absence.id == memberCtrl.editAbsenceId">
						<p class="input-group">
							<input type="text" id="absenceStart" class="form-control"
								ng-change="memberCtrl.onDateChange(absence.start,absence.end)"
								uib-datepicker-popup="dd/MM/yyyy" ng-model="absence.start"
								is-open="openedStart"
								datepicker-options="memberCtrl.dateOptions" ng-required="true"
								close-text="Close" /> <span class="input-group-btn"><button
									type="button" class="btn btn-default"
									ng-click="openedStart = !openedStart">
									<i class="glyphicon glyphicon-calendar"></i>
								</button></span>
						</p>
					</td>


					<td ng-If="absence.id == memberCtrl.editAbsenceId">
						<div class="checkbox">
							<label> <input type="checkbox"
								ng-model="absence.startAfternoon">
							</label>
						</div>
					</td>
					<td ng-If="absence.id == memberCtrl.editAbsenceId">
						<p class="input-group">
							<input type="text" id="absenceEnd" class="form-control"
								ng-change="memberCtrl.onDateChange(absence.start,absence.end)"
								uib-datepicker-popup="dd/MM/yyyy" ng-model="absence.end"
								is-open="openedEnd" datepicker-options="memberCtrl.dateOptions"
								ng-required="true" close-text="Close" /> <span
								class="input-group-btn"><button type="button"
									class="btn btn-default" ng-click="openedEnd = !openedEnd">
									<i class="glyphicon glyphicon-calendar"></i>
								</button></span>
						</p>
					</td>
					<td ng-If="absence.id == memberCtrl.editAbsenceId">
						<div class="checkbox">
							<label> <input type="checkbox"
								ng-model="absence.endAfternoon">
							</label>
						</div>
					</td>
					<td ng-If="absence.id == memberCtrl.editAbsenceId">
						<button class="btn btn-primary "
							ng-disabled="!memberCtrl.isValid"
							ng-click="memberCtrl.updateAbsence(absence)">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						</button>
						<button class="btn btn-default "
							ng-click="memberCtrl.cancelUpdateAbsence()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>

					</td>

				</tr>

			</tbody>
		</table>
	</form>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td colspan="2"  ng-repeat="day in memberCtrl.days">{{$index+1}}</td>
			</tr>
			<tr>
			<td ng-repeat="precence in memberCtrl.presences" ng-class="[{danger: !precence.isPresent}]">
			</td>
			</tr>
		</tbody>
	</table>

</div>