<div class="container">
	<h2>Member</h2>
	<div>
		<div class="form-group">
			<label>ID </label>
			<p>{{memberCtrl.member.id}}</p>
		</div>
		<div class="form-group">
			<label>First name</label>
			<p>{{memberCtrl.member.firstName}}</p>
		</div>
		<div class="form-group">
			<label>Last name</label>
			<p>{{memberCtrl.member.lastName}}</p>
		</div>
		<div class="form-group">
			<label>Email</label>
			<p>{{memberCtrl.member.email}}</p>
		</div>
		<div class="form-group">
			<label>Use gravatar</label>
			<p>{{memberCtrl.member.useGravatar}}</p>
		</div>
	</div>
</div>
