<div></div>
<div class="modal-header">
	<h3 class="modal-title" id="modal-title" translate>newmember</h3>
	<notification></notification>
</div>
<div class="modal-body" id="modal-body">
	<form novalidate ng-submit="newMemberCtrl.save()" class="simple-form">
		<div class="form-group">
			<label translate>firstname</label> <input type="text" class="form-control"
				ng-model="newMemberCtrl.member.firstName" focus-me="true">
		</div>
		<div class="form-group">
			<label translate>lastname</label> <input type="text" class="form-control"
				ng-model="newMemberCtrl.member.lastName">
		</div>
		<div class="form-group">
			<label translate>email</label> <input type="text" class="form-control"
				ng-model="newMemberCtrl.member.email">
		</div>
		<div class="checkbox">
			<label> <input type="checkbox"
				ng-model="newMemberCtrl.member.useGravatar" translate>usegravatar</label>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary "
		ng-click="newMemberCtrl.save()">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</button>
	<button class="btn btn-default " ng-click="newMemberCtrl.cancel()">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</button>

</div>