<div></div>
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">New member</h3>
</div>
<div class="modal-body" id="modal-body">
	<form novalidate ng-submit="newMemberCtrl.save()" class="simple-form">
		<div class="form-group">
			<label>First name</label> <input type="text" class="form-control"
				ng-model="newMemberCtrl.member.firstName">
		</div>
		<div class="form-group">
			<label>Last name</label> <input type="text" class="form-control"
				ng-model="newMemberCtrl.member.lastName">
		</div>
		<div class="form-group">
			<label>Email</label> <input type="text" class="form-control"
				ng-model="newMemberCtrl.member.email">
		</div>
		<div class="checkbox">
			<label> <input type="checkbox"
				ng-model="newMemberCtrl.member.useGravatar"> Use gravatar
			</label>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary "
		ng-click="newMemberCtrl.save()">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</button>
	<button class="btn btn-default " ng-click="newMemberCtrl.cancel()">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</button>

</div>