<div class="container-fluid">
  <h1>Jira Sprint</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm-3" translate>name</th>
        <th class="col-sm-3" translate>start</th>
        <th class="col-sm-3" translate>end</th>
        <th class="col-sm-3" translate>actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sprint of sprints">
        <td class="col-sm-3">
          {{sprint.name}}
        </td>
        <td class="col-sm-3">
          <datepicker-cell [id]="sprint.id" [(date)]="sprint.start"></datepicker-cell>
        </td>
        <td class="col-sm-3">
          <datepicker-cell [id]="sprint.id" [(date)]="sprint.end"></datepicker-cell>
        </td>
        <td class="col-sm-3">
          <a routerLink="/jira/story/{{sprint.jiraId}}" class="btn btn-info" role="button">
            <i class="fa fa-file-text-o " aria-hidden="true"></i>
            </a>
        </td>

      </tr>
    </tbody>
  </table>
</div>
