<div class="container-fluid">
  <h1>Sprint {{sprint.name}}</h1>
</div>
<div class="container">
  <table class="table table-striped">
    <tbody>
      <tr >
        <td class="col-sm-2" translate>start</td>
        <td>{{sprint.start | date : 'dd/MM/yyyy'}}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>end</td>
        <td>{{sprint.end | date : 'dd/MM/yyyy'}}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>complexity</td>
        <td>{{sprint.complexity}}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>engagedComplexity</td>
        <td>{{sprint.engagedComplexity}}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>closedComplexity</td>
        <td>{{sprint.closedComplexity }}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>closedComplexity</td>
        <td>{{sprint.closedComplexity }}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>businessvalue</td>
        <td>{{sprint.businessValue }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid">
  <h2>Stories
    <button type="button" class="btn btn-primary" (click)="add()">
			<i class="fa fa-plus" aria-hidden="true"></i>
		</button>
  </h2>
  <table class="table table-hover">
    <thead>
      <tr >
        <th class="col-sm-2" translate>name</th>
        <th class="col-sm-1" translate>complexity</th>
        <th class="col-sm-1" translate>bv</th>
        <th class="col-sm-2" translate>type</th>
        <th class="col-sm-2" translate>adddate</th>
        <th class="col-sm-2" translate>close</th>
        <th class="col-sm-2" translate>actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let storyInSprint of sprint.stories"  >
        <td class="col-sm-2">
          <textfield-cell [id]="storyInSprint.story.id" [selectedId]="selectedId" [(text)]="storyInSprint.story.name"></textfield-cell>
        </td>
        <td class="col-sm-1">
          <combobox-cell [id]="storyInSprint.story.id" [selectedId]="selectedId" [(text)]="storyInSprint.story.complexity" [values]="complexities"></combobox-cell>
        </td>
        <td class="col-sm-1">
          <textfield-cell [id]="storyInSprint.story.id" [selectedId]="selectedId" [(text)]="storyInSprint.story.businessValue"></textfield-cell>
        </td>
        <td class="col-sm-2">
          <combobox-cell [id]="storyInSprint.story.id" [selectedId]="selectedId" [(text)]="storyInSprint.story.type" [values]="types"></combobox-cell>
        </td>
        <td class="col-sm-2">
          <datepicker-cell [id]="storyInSprint.story.id" [selectedId]="selectedId" [(date)]="storyInSprint.story.addDate"></datepicker-cell>
        </td>
        <td class="col-sm-2">
          <datepicker-cell [id]="storyInSprint.story.id" [selectedId]="selectedId" [(date)]="storyInSprint.story.closeDate"></datepicker-cell>
        </td>
        <td class="col-sm-2">
          <action-cell [id]="storyInSprint.story.id" [(selectedId)]="selectedId" [value]="storyInSprint" (onSave)="save($event)" (onCancel)="cancel($event)"
            (onSelectMore)="selectMore($event)"></action-cell>
        </td>
      </tr>
    </tbody>
  </table>
</div>
