<nav class="navbar navbar-toggleable-sm navbar-light bg-faded" *ngIf="!isFullScreen">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" ui-sref="graph"> <label> <img style="max-width: 50px" src="/assets/minion.png"> Banana </label>
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/sprints" routerLinkActive="active" translate>sprints <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/stories" routerLinkActive="active" translate>stories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/graph" routerLinkActive="active" translate>graph</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/plush" routerLinkActive="active" translate>plush</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/settings" routerLinkActive="active" translate>settings</a>
    </li>
  </ul>
  <ul class="navbar-nav ">
    <li class="nav-item pull-xs-right">
      <div class="form-group">
        <select [hidden]="!showSprints" id="sprint" name="sprint" [(ngModel)]="sprint" class="custom-select" (ngModelChange)="onSprintChange($event)">
          <option *ngFor="let aSprint of sprints" [ngValue]="aSprint">{{aSprint.name}}</option>
        </select>
      </div>
    </li>
  </ul>


</nav>
