<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!isFullScreen">
    <a class="navbar-brand" ui-sref="graph"> <label> <img style="max-width: 50px" src="/assets/minion.png"> Banana </label>
    </a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/releases" routerLinkActive="active" translate>releases </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sprints" routerLinkActive="active" translate>sprints <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/stories" routerLinkActive="active" translate>stories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/graph" routerLinkActive="active" translate>graph</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/plush" routerLinkActive="active" translate>plush</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/jira/project" routerLinkActive="active" translate>Jira</a>
    </li>
  </ul>

  <h3 translate>projectSelection</h3>
  <combobox-cell [id]="projects.project.id" [selectedId]="selectedId" [(text)]="menu.project" [values]="menu.project.name"></combobox-cell>

  <ul class="navbar-nav my-2 my-lg-0">
    <li class="nav-item pull-xs-right">
      <div class="form-group">
        <select [hidden]="!showSprints" id="sprint" name="sprint" [(ngModel)]="sprint" class="custom-select" (click)="addPotentialNewSprint()"
          (ngModelChange)="onSprintChange($event)">
          <option *ngFor="let aSprint of sprints" [ngValue]="aSprint">{{aSprint.name}}</option>
        </select>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/settings" routerLinkActive="active"><i class="fa fa-cog" aria-hidden="true"></i>
    </a>
    </li>
  
  </ul>
  </div>
</nav>